<a href="https://colab.research.google.com/github/JohnCrl/CPEN-21A-ECE-2-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Application 2

In [ ]:
#Create a phyton programm that displays integers or less than 10 but not less than 3

for x in range(3,10):
  print(x)

3
4
5
6
7
8
9

##For Loop

In [ ]:
week =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [ ]:
week =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
week =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through string

In [ ]:
for x in "Phyton Programming":
  print(x)

P
h
y
t
o
n

P
r
o
g
r
a
m
m
i
n
g

The Range() Function

In [ ]:
for x in range(16):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
for x in range(2,16):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

Nested Loop

In [ ]:
Adjective=["Red","Big","Tasty"]
Fruit=["Apple","Banana","Cherry"]
for x in Adjective:
  for y in Fruit:
    print(x,y)

Red Apple
Red Banana
Red Cherry
Big Apple
Big Banana
Big Cherry
Tasty Apple
Tasty Banana
Tasty Cherry

##While Loop

In [1]:
i=1
while i<6:
  print(i)
  i+=1 #Assignment Operator for Addition

1
2
3
4
5

The Break Statement

In [3]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

The Continue Statement

In [1]:
i=0
while i<6:
  i+=1 #Assignment Operator for Addition
  if i==3:
    continue
  print(i)

1
2
4
5
6

The Else Statement

In [2]:
i=1
while i<=6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
6
i is no longer less than 6

##Application 1

In [3]:
#Create a phyton programm that displays hello 0 to hello 10 in vertical
hello=["Hello"]
num=["0","1","2","3","4","5","6","7","8","9","10"]
#for loop
for x in hello:
  for y in num:
    print(x,y)
#for while
i=0
while i<=10:
  print("Hello",i)
  i+=1 #Assignment Operator for Addition

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

##Application 2

In [4]:
#Create a Python program that displays integers less than 10 but not less than 3
i=3
while i<10:
  print(i)
  i+=1 #Assignment Operator for Addition

3
4
5
6
7
8
9